<table>
	<thead>
		<tr>
			<th>Track</th>
			<th>Done</th>
			<th>Task</th>
			<th>Time Tracked</th>
			<th>Revenue</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td><input type="text" ng-model="title" placeholder="Add a New Task"></td>
			<td></td>
			<td></td>
		</tr>
		<tr ng-repeat="task in tasks" class="task {{task.active}}">
			<td><button class="button" ng-click="toggle_timer(task)"><i class="fa fa-clock-o"></i></button></td>
			<td><input type="checkbox" ng-model="task.complete" ng-click="toggle_complete(task)"></td>
			<td>{{task.title}}</td>
			<td>{{total_time(task)}} Minutes</td>
			<td>{{revenue(task) | number:1}} {{company.currency | uppercase}}</td>
		</tr>
	</tbody>
</table>