$SIDEBAR_WIDTH: 200px
$primary: #212434

@font-face
	font-family: "Exo2Light"
	src: url("../fonts/exo2-light-webfont.ttf")

@font-face
	font-family: "Exo2Medium"
	src: url("../fonts/exo2-medium-webfont.ttf")

@font-face
	font-family: "Exo2Bold"
	src: url("../fonts/exo2-bold-webfont.ttf")

@font-face
	font-family: "FontAwesome"
	src: url('../fonts/fontawesome-webfont.ttf')

*, *::before, *::after
	box-sizing: border-box

html, body, h1, h2, h3, h4, h5, h6, p, div, section, aside, article, ol, ul, li
	margin: 0
	padding: 0

body
	font: 100 14px/18px "Lucida Grande", arial
	height: 100vh
#modal-overlay
	width: 100%
	height: 100%
	position: absolute
	z-index: 9
	background: rgba(0,0,0,0.7)
	display: none
	opacity: 0
	transition: all 0.5s
	&.show
		display: block
		opacity: 1
.button
	display: inline-block
	background: $primary
	border-radius: 2px
	padding: 10px 15px
	font: 700 15px/15px "Arial"
	color: #ddd
	cursor: pointer
	text-shadow: rgba(0,0,0,0.5)
	text-decoration: none
	border: 0
.button-secondary
	background: lighten($primary, 10%)
.button-warning
	background: #EB2E3C
a
	text-decoration: none
#add_company_sidebar
	width: $SIDEBAR_WIDTH
	position: absolute
	padding: 10px
	height: 100vh
	left: -$SIDEBAR_WIDTH
	background: darken($primary, 10%)
	transition: left 0.5s
	color: #fff
	input
		border: 1px solid #222
		padding: 5px
		border-radius: 4px
	&.show
		left: 0
#add_company_button
	float: right
	display: inline-block
	cursor: pointer
#app
	height: 100vh
	aside
		width: $SIDEBAR_WIDTH
		background: $primary
		height: 100%
		float: left
		h2, h2 a
			color: #eee
			font: 100 18px/18px "Exo2Medium","Helvetica Neue"
		h2
			padding: 10px
		ul a
			font: 100 15px/15px "Exo2Light"
			text-transform: uppercase
			color: lighten($primary, 20%)
			display: block
			padding: 5px 20px
			&:hover, &.active
				color: #fff
				background: rgba(255,255,255,0.05)

	#main
		float: left
		width: calc(100% - 200px)
		height: 100vh
		overflow-y: auto
		background: #f3f3f3
		padding: 10px
		#add_task
			top: -300px
			transition: all 0.5s
			z-index: 10
			left: calc(50% - 250px)
			background: #fff
			width: 500px
			padding: 20px
			position: absolute
			&.show
				top: calc(50% - 150px)
			input, textarea
				outline: none
				display: block
				border: 0
				background: rgba(255, 255, 255, 0)
				border-bottom: 1px solid #aaa
				width: 50%
				width: 100%
			input
				font: 500 19px/19px "Exo2Light"
				padding: 10px 20px
		.task
			border-radius: 3px
			box-shadow: 0 2px 2px rgba(0,0,0,0.3)
			padding: 10px
			margin: 10px 0
			background: #fff
			button
				float: right
				&.active
					background: #EB2E3C
			ul
				list-style-type: none
			.bar
				background: #fff
				margin: 10px 0
				color: #333
				font: 100 12px/12px arial
				padding: 7px 5px