@font-face {
  font-family: "Exo2Light";
  src: url("../fonts/exo2-light-webfont.ttf"); }

@font-face {
  font-family: "Exo2Medium";
  src: url("../fonts/exo2-medium-webfont.ttf"); }

@font-face {
  font-family: "Exo2Bold";
  src: url("../fonts/exo2-bold-webfont.ttf"); }

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.ttf"); }

*, *::before, *::after {
  box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, h6, p, div, section, aside, article, ol, ul, li {
  margin: 0;
  padding: 0; }

body {
  font: 100 14px/18px "Lucida Grande", arial;
  height: 100vh; }

p {
  padding: 10px 0; }

.button {
  -webkit-appearance: none;
  outline: none;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  color: white; }

.button-secondary {
  background: #3c3c3c; }

.button-warning {
  background: #eb2e3c; }

input[type='text'] {
  padding: 5px;
  width: 100%;
  border-radius: 2px;
  border: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4) inset;
  outline: none; }

a {
  text-decoration: none; }

aside, #main {
  float: left;
  height: 100vh; }

aside {
  width: 200px;
  background: #222222; }
  aside h2, aside h2 a {
    color: white;
    font: 500 15px/15px "Exo2Light"; }
  aside h2 {
    padding: 10px; }
  aside ul a {
    display: block;
    padding: 5px 20px;
    color: white;
    font: 800 13px/13px arial; }
    aside ul a:hover {
      background: #2f2f2f; }
  aside form {
    padding: 5px 10px; }
    aside form .kinda-hidden {
      opacity: 0.3; }
    aside form #hidden-form {
      display: none; }
      aside form #hidden-form.show {
        display: block; }
    aside form label {
      font: 800 9px/9px arial;
      display: block;
      color: white;
      margin: 5px 0; }

#main {
  background: #f8f8f8;
  overflow-y: auto;
  width: calc(100% - 200px);
  padding: 20px; }
  #main table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%;
    margin: 0 auto;
    font: 100 13px/13px arial;
    color: #505050; }
    #main table th, #main table td {
      text-align: left;
      padding: 5px 10px; }
    #main table tbody tr:last-child {
      border-top: 1px solid #aaaaaa;
      font-weight: 800; }
    #main table .button {
      background: #222222;
      border: 0;
      font-size: 18px;
      color: white; }
      #main table .button:hover {
        color: #eb2e3c; }
    #main table .complete-true {
      opacity: 0.5; }
    #main table .active .button {
      background: #eb2e3c;
      color: white; }
