doctype html
html(ng-app='taskr')
    head
        title Taskr

        link(rel='stylesheet', href='assets/css/font-awesome.min.css')
        link(rel='stylesheet', href='assets/css/styles.css')
        
        script(src='assets/js/angular.min.js')
        script(src='assets/js/angular-resource.min.js')
        script(src='assets/js/angular-route.min.js')
        script(src='assets/js/localstoragedb.min.js')
        script(src='assets/js/db.js')
        script(src='assets/js/app.js')
    body
        #app
            aside(ng-controller='companiesCtrl')
                h2
                    a(href='#') Overview
                h2
                    a(href='#/settings') Settings
                h2 Companies
                form(ng-submit='add()')
                    input#new-company-name.kinda-hidden(type='text', ng-model='name', placeholder='Add a company...', ng-click='show_form()')
                    #hidden-form
                        label(for='hourly_rate') Hourly Rate
                        input(type='text', ng-model='hourly_rate')
                        label(for='currency') Currency
                        input(type='text', ng-model='currency')
                        button.button.button-secondary Add
                ul
                    li(ng-repeat='company in companies')
                        a(href='#/company/{{company.ID}}', ng-click='setCompany(company)') {{company.name}}
            #main(ng-view='ng-view')
